@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.categories {
  margin-bottom: 96px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  &__wrapper {
    display: grid;
    row-gap: 0;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button {
    @include button-margin-top;
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    overflow: hidden;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    @include hover(transform, scale(1.05));
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0;

    @include on-tablet {
      font-size: 24px;
    }
  }
}
