@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;
  font-weight: bold;
  text-transform: uppercase;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 24px;

    @include on-tablet {
      margin-bottom: 0;
    }

    margin-bottom: 56px;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &__call-to-order {
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 1px solid $main-text-color;
    font-size: 16px;
    list-style: 140%;
    letter-spacing: 2px;
    display: block;
    color: inherit;
    text-decoration: none;
  }
}
