@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.recommended {
  margin-bottom: 64px;

  @include on-tablet {
    margin-bottom: 80px;
  }

  @include on-desktop {
    margin-bottom: 120px;
  }

  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
